<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44364" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:51322/SPRA_SchJob/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAz7oUrBfnzL2cCvXIrM2NG6RMnvPTfwLg/cN5+k0ry23WdDcOf3iC93aIAGjfdvbQqno5sdvizzlJta/cN0h8OFa3tVG2V7C83TL7IqTcdJ3D+rZyD2fHq7DI/6l68mrccwpPzpMAiXpbPvvVaf2Whk9gfd3ujo+/4vH8nFPCKg5BaPFP8j+zQGrpJirFgV1iuTDdzcD/BwdapLGoaydtXdHIJwju6BlIEqdO3y48/LNdLK7TY3pDUBbDncdZUkVdQq7xrN0McoYUoblLeCqYV7QjchB7SwEPIERDgIDKS0ce0Sj3tWnru+ugj2krU27HbLg4XFOrpcdXpJzmi8SIcQIDAQAB" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>